.reveal section.agenda,
.reveal section.fazit {
    background: no-repeat right bottom url("images/pencil.png");
}

.reveal section.diva-e {
    background: no-repeat right bottom url("images/diva-e-overview-background.svg");
}

.reveal section.diva-e .content {
    padding-right: 60%;
}


.reveal section.christian {
    background: no-repeat right bottom url("images/christian.jpg");
}

.reveal section.christoph {
    background: no-repeat right bottom url("images/christoph.jpg");
}

.reveal .block {
    display: inline-block;
    width: 40px;
    height: 5px;
    background: no-repeat left top url("images/block.svg");
    margin: 20px 0;
}

.reveal .two-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.reveal .two-columns>* {
    flex: 1;
    margin-right: 3em;
}

.reveal .remember li {
    margin: 0.5em 0;
}
